/*

	c:'CM_com',	//comunes
	k:'CM_key',
	s:'CM_txt',
	n:'CM_num',
	z:'CM_null',
	u:'CM_udf',
	x:'CM_x',
	w:'CM_w',
	wc:'CM_wc',
	wu:'CM_wu',
	ags:'CM_ags',

	"string":"CM_txt",
	"number":"CM_num",
	"boolean":"CM_bool",
	"undefined":"CM_udf",
	"object":"CM_null",

*/

/* colores */
.CM_all{
	color: black;
}

.CM_wu{
	color: green;
}
.CM_wc{
	color: #f75db0;
}
.CM_w{
	color: #088ac5;
	font-style: italic;
}

.CM_txt .CM_w, .CM_txt .CM_wc, .CM_txt .CM_wu{
	color: inherit;
}
.CM_com{
	color: inherit;
}
.CM_key{
	color: inherit;
}
.CM_txt{
	color: #d68b03;
/*	flex: 1; */
    word-break: break-word;
}
.CM_ags{
	color: #7a8c1b;
	font-style: italic;
}

.CM_num{
	color: #a272f7;
}
.CM_bool{
	color: #0489c5;
}
.CM_null, .CM_udf{
	color: #cc0404;
}

.CM_x{
	color: #e20202;
}

.CM_nros{
	color: #444;
}