.CM-all{
	color: #fff;
}
.CM-x{
	color: #b90404;
}
.CM-wu{
	color: #01ad01;
}
.CM-wc{
	color: #e8007d;
}
.CM-w{
	color: #2bb9f9;
	font-style: italic;
}
.CM-txt{
	color: #f3db66;
	overflow-wrap: break-word;
}
.CM-txt *{
	color: inherit;
}
.CM-comm{
	color: #555;
}
.CM-comm *{
	color: inherit;
}
.CM-key{
	color: inherit;
}
.CM-args{
	color: #f5a004;
	font-style: italic;
}
.CM-num, .CM-bool{
	color: #5588b5;
}
.CM-null, .CM-udf{
	color: #A272F7;
}
.CM-index{
	color: #888;
}
.CM-back{
	background-color: #181a21;
}
.CM-1xx{
	color: #f3f37c;
}
.CM-2xx{
	color: #7fff00;
}
.CM-3xx{
	color: #02e2e2;
}
.CM-4xx{
	color: #ffa500;
}
.CM-5xx{
	color: #f12525;
}