@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i&display=swap');
.CM-all{
	display: flex;
	flex-direction: column;
	font-family: 'Ubuntu Mono', monospace;
	position: relative;
	font-size: inherit;
	max-width: max-content;
    max-height: max-content;
    overflow: visible;
}
.CM-r{
	display: flex;
	flex-direction: row;
	margin-left: 1em;
}
.CM-r1{
	margin-left: 1em;
}
.CM-r2{
	margin-left: 2em;
}
.CM-r3{
	margin-left: 3em;
}
.CM-r4{
	margin-left: 4em;
}
.CM-r5{
	margin-left: 5em;
}
.CM-r6{
	margin-left: 6em;
}
.CM-r7{
	margin-left: 7em;
}
.CM-r8{
	margin-left: 8em;
}
.CM-r9{
	margin-left: 9em;
}
.CM-r10{
	margin-left: 10em;
}
div.CM-o{
	flex-direction: column;
}
div.CM-a div.CM-o {
    margin-left: 0;
}
div.CM-a span.CM-v div.CM-a, div.CM-f span.CM-v div.CM-f{
	margin-left: 0;
}
.CM-l{
	display: inline;
}
.CM-b{
	display: inline-block;
}
.CM-p{
	white-space: nowrap;
}
.CM-v{
	overflow-wrap: break-word;
}
.CM-v>span{
	display: inline-block;
}
.CM-tl{
	flex: 1;
}
.CM-tl.CM-comm:before{
	content: '/*';
}
.CM-tl.CM-comm:after{
	content: '*/';
}
.CM-ff{
	white-space: pre-wrap;
	flex-direction: column;
	margin-left: 0;
}
.CM-f1{
	margin-left: 0em;
}
.CM-f2{
	margin-left: 1.2em;
}
.CM-f3{
	margin-left: 2.4em;
}
.CM-f4{
	margin-left: 3.6em;
}
.CM-f5{
	margin-left: 5em;
}
.CM-f6{
	margin-left: 6.2em;
}
.CM-f7{
	margin-left: 7.4em;
}
.CM-f8{
	margin-left: 8.6em;
}
.CM-f9{
	margin-left: 10em;
}
.CM-f10{
	margin-left: 11.2em;
}
.CM-index{
	font-size: inherit;
    position: absolute;
    width: auto;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    top: 0;
    bottom: 0;
    text-align: right;
    white-space: pre;
}